<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.world.ordercar.mapper.LoginMapper">
    <resultMap id="BaseResultMap1" type="com.world.ordercar.entity.OrderCarEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="license_num" jdbcType="VARCHAR" property="license_num"/>
        <result column="holder_phone" jdbcType="INTEGER" property="holder_phone"/>
        <result column="holder" jdbcType="VARCHAR" property="holder"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="user_sex" jdbcType="INTEGER" property="user_sex"/>
        <result column="can_order" jdbcType="INTEGER" property="can_order"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
    </resultMap>

    <select id="managerSelectAllPlaceInfo" resultMap="BaseResultMap1">
        select *
        from sys_order
        where can_order = 0
           or can_order = 1
           or can_order = 3
           or can_order = 2
           or can_order = 4
        order by can_order
    </select>


    <select id="selectLists" resultMap="BaseResultMap1">
        select *
        from sys_order
        where can_order = 3 or can_order = 4
    </select>

    <select id="userSelectAllPlaceInfo" resultMap="BaseResultMap1">
        select *
        from sys_order
        where can_order = 0
           or can_order = 1
           or (can_order = 3 and holder_phone = #{holderPhone})
           or (can_order = 2 and holder_phone = #{holderPhone})
        order by can_order
    </select>

    <select id="selectInfo" resultMap="BaseResultMap1">
        select *
        from sys_order
        where license_num = #{licenseNum}
          and holder = #{holder}
    </select>

    <update id="updateOrderInfo" parameterType="com.world.ordercar.entity.OrderCarEntity">
        update sys_order
        <set>
            can_order = 1
        </set>
        <where>
            license_num = #{licenseNum}
            and holder = #{holder}
        </where>
    </update>


    <select id="selectById" resultType="com.world.ordercar.entity.OrderCarEntity">
        select *
        from sys_order
        where id = #{id}
    </select>

    <update id="refuseOrderInfo">
        update sys_order
        <set>
            can_order = 2,
            update_time =#{updateTime}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="editOrderInfo">
        update sys_order
        <set>
            can_order = #{canOrder},
            update_time =#{updateTime}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>